# Node
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
trace.zip

# Environment variables
.env
.env.*

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/